/Data/Cache
/Data/Index/
/Data/Installed Packages
/Data/Lib
/Data/Local
/Data/Log
/Data/Packages/backrefs
/Data/Packages/markupsafe
/Data/Packages/mdpopups
/Data/Packages/pygments
/Data/Packages/pymdownx
/Data/Packages/pyte
/Data/Packages/python-jinja2
/Data/Packages/python-markdown
/Data/Packages/pyyaml
/Data/Packages/pywinpty
/Data/Packages/wcwidth
/Data/Packages/zzz A File Icon zzz
/Data/Packages/User/Color Highlight.cache
/Lib/
/Packages/
vcruntime140.dll
update_installer.exe
sublime_text.exe
subl.exe
python38.dll
python33.dll
plugin_host-3.8.exe
plugin_host-3.3.exe
msvcr100.dll
libssl-1_1-x64.dll
libcrypto-1_1-x64.dll
changelog.txt
crash_reporter.exe